#coordinates {
    display: flex;
}

.contact-sect {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.contact-sect i {
    font-size: 52px;
    margin-right: 12px;
}

.contact-type {
    font-weight: 600;
}

.contact-info {
    font-size: 24px;
}

.contact-col {
    width: 50%;
}