.collage img {
    border-radius: 40px;
}

.photo-sect {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto;
}

.photo-sect img {
    height: 610px;
    object-fit: cover;
    width: 100%;
}

#picture-1 {
    grid-column: 1 / span 2;
}

#picture-2 {
    grid-column: 3 / span 3;
}

#picture-3 {
    grid-column: 1 / span 3;
}

#picture-4 {
    grid-column: 4 / span 2;
}

.mission-box-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

.mission-icon {
    margin: 5px 6px 0 0;
}

.mission-header {
    display: flex;
}

.intro-text {
    margin-bottom: 16px;
}