.membership-reasons {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.membership-buy-reason-sect {
    display: flex;
}

.membership-perk-icon {
    font-size: 26px;
    margin-right: 10px;
}

.step {
    margin-bottom: 22px;
}