/* @import url("fontawesome.min.css"); */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

body {
    background: #222222;
    margin: 0px;
    transition: 300ms;
}

body.loading * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

body, input, select, textarea {
    color: #383838;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.65em;
}

a {
    word-break: break-word;
}

a:not(footer a) {
    color: #82b440;
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote {
    margin: 0;
}

p {
    line-height: 1.8em;
}

p.medium {
    font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 700;
    margin-bottom: 15px;
    word-break: break-word;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    margin: 1.5em 0;
}

.wrapper.secondary hr {
    border: 1px solid white;
}

blockquote {
    border-left: solid 0.5em #82b440;
    font-style: italic;
    padding: 1em 0 1em 2em;
}

section.special, article.special {
    text-align: center;
}

header.major {
    padding-bottom: 3em;
    text-align: center;
}

header.major h2 {
    font-size: 2.6em;
    font-weight: 700;
}

header.major .byline {
    display: block;
    padding-top: 1em;
    letter-spacing: 1px;
    font-size: 1.4em;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

#ets-logo {
    height: 145px;
}

.green-sect {
    background-color: #82b440;
    color: white;
}

.green-sect-container {
    margin: 0 auto 20px;
    max-width: 1400px;
}

/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border: solid 1px #82b440;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #82b440;
    }

input[type="text"],
input[type="password"],
input[type="email"] {
    line-height: 1em;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
    position: relative;
    top: 3px;
}

:-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

.formerize-placeholder {
    color: rgba(85, 85, 85, 0.5) !important;
}

/* Image */

.image {
    border: 0;
    position: relative;
}

.image.fit {
    display: block;
}

.image.fit img {
    display: block;
    width: 100%;
}

.image.feature {
    display: block;
    margin: 0 0 2em 0;
}

.image.feature img {
    display: block;
    width: 100%;
}

/* Icon */

.icon {
    position: relative;
}

.icon:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Lists */
ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

ul.default {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.default li {
    padding: 0.40em 0em;
}

ul.icons {
    padding-bottom: 2em;
}

ul {
    padding: 0;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    margin-right: 0.8em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.icons li span {
    display: none;
}

ul.icons li a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

ul.icons li a:hover {
    color: inherit;
}

footer a:hover {
    opacity: 0.72;
    transition: 200ms;
}

/* Tables */
table {
    width: 100%;
}

table.default {
    width: 100%;
}

table.default tbody tr {
    border-bottom: solid 1px #82b440;
}

table.default td {
    padding: 0.5em 1em 0.5em 1em;
}

table.default th {
    font-weight: 700;
    padding: 0.5em 1em 0.5em 1em;
    text-align: left;
}

table.default thead {
    background: #555555;
    color: #fff;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: none;
    border: 2px solid;
    border-color: #82b440;
    color: #82b440;
    cursor: pointer;
    display: inline-block;
    padding: 0.90em 1.2em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background: #82b440;
    color: white;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
    border-color: inherit;
    color: inherit;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
.button.alt:hover {
    background: white;
    color: #82b440;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

/* Wrapper */

.wrapper {
    padding: 6em 0em 4em 0em;
}

.wrapper.style1 {
    padding: 0em;
    background: #222222 url('images/atelier.jpg') no-repeat;
    background-size: cover;
}

.wrapper.style2,
.wrapper.evenpart,
.wrapper.primary-2 {
    background: #f2f2f2;
}

.wrapper.style2 .major,
.wrapper.evenpart .major {
    text-align: left !important;
}

.wrapper.style2 .major h2,
.wrapper.evenpart .major h2 {
    display: block;
    margin-bottom: 0.70em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}

.wrapper.style2 .major .byline,
.wrapper.evenpart .major .byline {
    letter-spacing: normal;
    line-height: 1.6em;
    text-transform: capitalize;
    font-size: 1.4em;
}

.wrapper.style2 h3,
.wrapper.evenpart h3 {
    display: block;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
}

.wrapper.style3,
.wrapper.cta,
.wrapper.secondary {
    padding-bottom: 6em;
    background: #82b440;
    text-align: center;
    color: white;
}

.wrapper.style3 .container,
.wrapper.cta .container {
    padding-left: 6em;
    padding-right: 6em;
}

.container:not(#banner .container) {
    margin: 0 auto;
    max-width: 1400px;
}

.wrapper.style3 p,
.wrapper.cta p {
    font-size: 1.6em;
}

.wrapper.style4,
.wrapper.plain {
    background: white;
}

.wrapper.style5,
.wrapper.portals {
    background: #82b440;
    text-align: center;
    color: white;
}

.wrapper.style5 .image,
.wrapper.portals .image {
    display: block;
    width: 60%;
    margin: 0em auto 1em;
}

.wrapper.style5 .image img,
.wrapper.portals .image img {
    width: 100%;
}

.single-wrapper {
    min-height: 67vh;
}

/* Header */
#header {
    background: rgba(0, 0, 0, 0.55);
    color: white;
    height: 4em;
    position: absolute;
    top: 0;
    width: 100%;
}

#header .container {
    position: relative;
}

.homepage #logo {
    display: none;
}

.homepage #nav {
    position: static;
    text-align: center;
}

.menu-item-link:not(#btn-join-team):hover {
    color: rgb(188, 201, 193);
}

.current-page-item {
    color: rgb(162, 241, 162);
}

#logo {
    line-height: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

#logo h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#logo a {
    color: inherit;
}

#nav {
    position: absolute;
    top: 0;
    right: 0;
}

#nav > ul {
    margin: 0;
}

#nav > ul > li {
    border-radius: 4px;
    display: inline-block;
    padding: 0 0.6em;
}

#nav > ul > li a {
    color: inherit;
    line-height: 4em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
}

#nav > ul > li:first-child {
    margin-left: 0;
}

#nav > ul > li.active a {
    color: white;
}

#nav > ul > li > ul {
    display: none;
}

/* Dropotron */

.dropotron {
    top: 2em;
    background: rgba(32, 32, 32, 0.75);
    border-radius: 4px;
    color: inherit;
    min-width: 12em;
    padding: 1em 0;
    color: white;
}

.dropotron > li {
    line-height: 2em;
    padding: 0 1em;
}

.dropotron > li > a {
    color: inherit;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.dropotron > li.active > a, .dropotron > li:hover > a {
    color: inherit;
}

.dropotron.level-0 {
    border-radius: 0 0 4px 4px;
    font-size: 1em;
    margin-left: -0.5em;
}

/* Banner */
#banner {
    padding: 6em 0em 3em 0em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#banner h2 {
    display: inline-block;
    padding: 0.50em 0.30em;
    background: #82b440;
    font-size: 3em;
    font-weight: 400;
    line-height: 3rem;
}

#banner span, #banner p {
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.3rem;
    font-size: 1.6em;
    font-weight: 300;
}

#banner span {
    background-color: #222222;
    padding: 1em;
    max-width: 965px;
}

#banner .container {
    display: inline-block;
    padding: 0 3em;
}

/* Main */
#main {
    padding: 4em 0;
}

#main #content .major, #main #sidebar .major {
    text-align: left;
}

/* Footer */
footer {
    padding-top: 2.5em;
    color: white;
}

footer hr {
    border-bottom: 1px solid;
    border-color: inherit;
    opacity: .05;
}

footer .major h2 {
    color: inherit;
}

footer .major .byline {
    color: inherit;
}

footer .copyright {
    margin-top: 3em;
    text-align: center;
}

.contact-container {
    display: flex;
    margin-bottom: 8px;
}

.contact-container i {
    margin-right: 8px;
}

#coordinates {
    margin-bottom: 26px;
}

footer .container {
    display: flex;
}

.links {
    width: 100%;
}

/* Copyright */
#copyright {
    position: relative;
    text-align: center;
    padding: 1em 0em 1.5em;
    color: inherit;
    opacity: .80;
}

#copyright a {
    text-decoration: none;
    color: inherit;
}

/* Extra */

#extra1 h2 {
    display: block;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}

#extra1 h3 {
    display: block;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
}

.collage img {
    border-radius: 40px;
}

.photo-sect {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto;
}

.photo-sect img {
    border-radius: 40px;
    height: 610px;
    object-fit: cover;
    width: 100%;
}

.picture-1 {
    grid-column: 1 / span 2;
}

.picture-2 {
    grid-column: 3 / span 3;
}

.picture-3 {
    grid-column: 1 / span 3;
}

.picture-4 {
    grid-column: 4 / span 2;
}

.join-btn-container {
    margin: 3em 0; 
}

.page-join-btn {
    border: 1px solid rgb(97, 172, 97);
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1.2rem;
    text-decoration: none;
}

.page-join-btn:hover {
    transition: 240ms;
    background-color: rgb(97, 172, 97);
    color: white;
}

#btn-join-team {
    background-color: rgb(81, 145, 81);
    border-radius: 6px;
    padding: 0.7em;
}

#btn-join-team:hover {
    background-color: rgb(36, 165, 111);
}

#btn-join-team,
#btn-join-team:hover {
    transition: 200ms;
}

.description *:not(:last-child) {
    margin-bottom: 16px;
}

#banner-club-logo {
    border-radius: 120px;
    height: 220px;
    width: 220px;
    margin-bottom: 15px;
}

/* Mobile */
#navbar-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
}

#mobile-menu-icon {
    cursor: pointer;
    display: none;
    text-align: right;
}

#mobile-menu-icon a {
    color: white;
}

#mobile-club-logo {
    height: 30px;
}

#mobile-club-logo img {
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 1495px) {
    .photo-sect img {
        height: 525px;
    }

    .container:not(#banner .container, #header .container) {
        margin: 0 auto;
        max-width: 1300px;
        padding: 20px 24px 30px;
    }

    .wrapper {
        padding: 2em 0em;
    }
}

@media only screen and (max-width: 1295px) {
    .photo-sect img {
        height: 425px;
    }
}

@media only screen and (max-width: 1050px) {
    .container:not(#banner .container, #header .container) {
        padding: 20px 20px 30px;
    }

    .photo-sect {
        display: block;
    }

    .photo-sect img {
        height: 100%;
        max-height: 550px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 850px) {
    p {
        line-height: 1.8em;
    }

    header.major h2 {
        font-size: 1.8em;
    }

    header.major .byline {
        font-size: 1.1em;
    }

    #header {
        background-color: transparent;
        height: 48px;
        position: sticky;
        top: 0;
    }

    /* Mobile */
    #navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Header */
    #mobile-menu-icon {
        display: contents;
    }

    #nav > ul {
        display: none;
        margin-top: 15px;
    }

    #nav > ul > li {
        margin-left: 0;
        width: 100%;
    }

    .homepage #nav {
        padding: 9px 19px;
        background-color: rgba(34, 34, 34, 0.95);
        text-align: left;
    }

    #nav {
        background-color: black;
        position: sticky;
    }

    /* Banner */
    #banner {
        padding: 6em 0em 3em 0em;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
    }

    #banner .container {
        padding: 0 1em;
    }

    #banner h2 {
        padding: 0.50em 0.50em;
        font-size: 1.8em;
    }

    #banner span, #banner p {
        font-size: 1.1em;
    }

    #banner span {
        padding: 1em;
    }

    #nav > ul > li a {
        letter-spacing: 1px;
        text-transform: none;
    }
}

@media only screen and (max-width: 680px) {
    footer {
        padding-top: 1.75em;
    }

    footer .container {
        display: block;
        text-align: center;
    }

    .contact-container {
        display: block;
        margin-bottom: 28px;
    }
    
    .contact-container i {
        font-size: 22px;
        width: 100%;
    }

    ul.icons {
        text-align: center;
        width: auto;
    }

    ul.icons li {
        margin: 0 0.3em;
    }
    
    .photo-sect img {
        border-radius: 12px;  
    }

    .contact-container i {
        margin-right: 0;
    }
}

@media only screen and (max-width: 360px) {
    #banner-club-logo {
        height: 165px;
        width: 165px;
    }
}

@media only screen and (max-width: 300px) {
    #ets-logo {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 210px) {
    #banner-club-logo {
        height: 100%;
        width: 100%;
    }
}