.photo-sect {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto;
}

.picture-full {
    grid-column: 1 / span 5;
    height: 650px !important;
}

.photo-sect img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.picture-1 {
    grid-column: 1 / span 2;
}

.picture-2 {
    grid-column: 3 / span 3;
}

.picture-3 {
    grid-column: 1 / span 3;
}

.picture-4 {
    grid-column: 4 / span 2;
}

.workshop-aspect-sect {
    margin-bottom: 30px;
}

.workshop-aspect-sect p {
    margin-bottom: 16px;
}

.tour-intro {
    margin-bottom: 40px;
}