{% set data_source = data_source|default(page) %}
{% set banner_pic = data_source.media[data_source.header.banner_pic].url %}
{% extends 'partials/base.html.twig' %}
{% block pagestyles %}
    {% do assets.addCss('theme://css/faq.css') %}
{% endblock %}

{% block banner %}

	{% include 'partials/banner.html.twig' %}

{% endblock banner %}

{% block body %}

    {% if data_source.header.faq %}
        {% set faq = data_source.header.faq %}
        <div class="wrapper primary-2">
            <section class="container">
                <div class="faq">
                    {% for question in faq.questions %}
                    <div class="question-answer-sect" data-qa-id="{{ loop.index0 }}">
                        <div class="question-header">
                            <div class="question-text">{{ question.question }}</div>
                            <div class="collapse-arrow"><i class="fa-solid fa-angle-down"></i></div>
                        </div>
                        <div class="answer-sect description">
                            {% for a in question.answer %}
                                <p>{{ a|raw }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}

{% endblock body %}