{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="col-12 col-md-8
             txt_module section_wrap " style="">

<div class="bgcolorwrapper txttitle module-d9e5e970-9c2120ed" style="background-color:#fbfbfb;padding:0px 0px 0px 0px;">
        <div class="title_wrap cmn-content">


                     
<h1>{{ 'PLUGIN_ERROR.ERROR'|t }}</h1>

<p>{{ page.content|raw }}</p>      
    
    
    </div>
    

</div>
</div>

{% endblock %}

