<footer id="footer">
    <section class="container">
        <ul class="icons">
            <li><a href="mailto:crabe@ens.etsmtl.ca" class="fa fa-envelope"><span>Courriel</span></a></li>
            <li><a href="https://instagram.com/crabe.ets" class="fa-brands fa-instagram"><span>Instagram</span></a></li>
            <li><a href="https://www.strava.com/clubs/crabeets" class="fa-brands fa-strava"><span>Strava</span></a></li>
        </ul>
        <a href="/">
            <div id="ets-logo"></div>
        </a>
        <hr/>
    </section>

    <!-- Copyright -->
    <div id="copyright">
        Centre de réparation et ajustement de bicylettes de l'ÉTS
    </div>
</footer>