<!-- Footer -->
	<footer id="footer">
		<section class="container">
			<ul class="icons">
				<li><a href="mailto:crabe@ens.etsmtl.ca" class="fa fa-envelope"><span>Courriel</span></a></li>
				<li><a href="instagram.com/crabe.ets" class="fa fa-instagram"><span>Instagram</span></a></li>
			</ul>
            <div id="ets-logo"></div>
			<hr/>
		</section>

		<!-- Copyright -->
		<div id="copyright">
            Centre de réparation et ajustement de bicylettes de l'ÉTS
		</div>
	</footer>