<!-- Footer -->
	<div id="footer">
		<section class="container">
			<header class="major">
				<h2>Réseaux sociaux</h2>
			</header>
			<ul class="icons">
				<li><a href="mailto:crabe@ens.etsmtl.ca" class="fa fa-envelope"><span>Courriel</span></a></li>
				<li><a href="instagram.com/crabe.ets" class="fa fa-instagram"><span>Instagram</span></a></li>
			</ul>
			<hr />
		</section>

		<!-- Copyright -->
		<div id="copyright">
            C.R.A.B.E @ 2025 École de technologie supérieure
		</div>
	</div>