<footer id="footer">
    <div class="container">
        <div class="links">
            <div id="coordinates">
                <div class="contact-container">
                    <div>
                        <a href="mailto:crabe@ens.etsmtl.ca">
                            <i class="fa fa-envelope"></i>crabe@ens.etsmtl.ca
                        </a>
                    </div>
                </div>
                <div class="contact-container">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div>
                        <div>1219 rue William, Montréal QC, H3C 1R1</div>
                        <div>Bureau : D-2013</div>
                        <div>Atelier : ES-2020</div>
                    </div>
                </div>
            </div>
            <ul class="icons">
                <li><a href="https://instagram.com/crabe.ets" class="fa-brands fa-instagram"><span>Instagram</span></a></li>
                <li><a href="https://www.strava.com/clubs/crabeets" class="fa-brands fa-strava"><span>Strava</span></a></li>
            </ul>
        </div>
        <div class="club-image">
            <a href="/">
                <div id="ets-logo"></div>
            </a>
        </div>
    </div>

    <div id="copyright">
        &copy; {{ 'now' | date('Y') }} | Centre de réparation et ajustement de bicylettes de l'ÉTS
    </div>
</footer>