{% block header %}
    <div class="wrapper style1" style="background: #222222 url('{{ data_source.media[banner_pic].url }}') no-repeat; background-size: cover;">
        !-- Header -->
        <div id="header">
            <div class="container">
                <h1><a href="{{ home_url }}" id="logo">{{ site.title }}</a></h1>
                <nav id="nav">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
            </div>
        </div>
        {% block banner %}{% endblock banner %}
    </div>
{% endblock header %}