# Phpstorm
.idea

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

node_modules
package-lock.json
custom/css/*
custom/js/*
custom/images/hero/*
custom/images/logo/*
custom/images/favicon/*