{% if page.header.section.settings.module.enabled %}

{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
    {% if page.header.section.card.date.show == 1 %}
        {% set show_date = true %}
    {% else %}
        {% set show_date = false %}
    {% endif %}

    {% if page.header.section.card.taxonomy.show == 1 %}
        {% set show_tax = true %}
    {% else %}
        {% set show_tax = false %}
    {% endif %}

    {% if page.header.section.card.content.show == 1 %}
        {% set show_content = true %}
    {% else %}
        {% set show_content = false %}
    {% endif %}

    {% if page.header.section.card.open.type == 1 %}
        {% set card_opentype = true %}
    {% else %}
        {% set card_opentype = false %}
    {% endif %}

    {% set masonry = true %}

{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}
<div class="row container portfolio-area {{selfid}}"><div class="row container-inner">
    {# <div class="row"> #}
{% endif %}
    {# set featured = page.collection({'items':{'@taxonomy.category': 'portfolio', '@taxonomy.featured': true},'order': {'by': 'date', 'dir': 'desc'}}) #}
    
    {% set featured = page.collection({'items':{'@taxonomy.category': 'portfolio'},'order': {'by': 'date', 'dir': 'desc'}}) %}
    {% for child in featured %}
            <div class="col-12 {% if page.header.section.settings.column == 1 %}col-lg-12
                        {% elseif page.header.section.settings.column == 2 %}col-lg-6
                        {% elseif page.header.section.settings.column == 3 %}col-lg-4
                        {% elseif page.header.section.settings.column == 4 %}col-lg-3
                        {% elseif page.header.section.settings.column == 6 %}col-lg-2
                        {% else %}col-lg-6{% endif %} ">
                {% include 'partials/portfolio-list-item.html.twig' with {page: child, 'truncate':true, 'readmore': false, 'show_date':show_date, 'show_tax':show_tax, 'show_content':show_content, 'card_opentype':card_opentype, 'masonry':masonry} %}
            </div>
    {% endfor %}
    </div>
{% if page.header.section.wrap.container == 1 %}
    {# </div> #}
</div></div>
<div class="row container"><div class="row container-inner">  {# start row #}
{% endif %}

{% endif %}

  <style>
{% if page.header.section.settings.bgcolor %}

.portfolio-area.{{selfid}} {
background-color: {{ page.header.section.settings.bgcolor }};
}

{% endif %}
  </style>
<script>
// add document ready event


// Initialize any masonry layouts after DOM is loaded
{# TODO: Masonry einbauen als Option? #}
/*
document.addEventListener('DOMContentLoaded', function() {
  if (typeof masonry === "function" && document.querySelector('.js-masonry-list')) {
    const masonryElements = document.querySelectorAll('.js-masonry-list');
    masonryElements.forEach(function(element) {
      // Get column count from dataset or default to responsive
      console.log('masonry');
      masonry({
        target: element,
        column: {{_cols}},
        responsive: [{
          breakpoint: 1024,
          column: 3
        }, {
          breakpoint: 600,
          column: 2
        }, {
          breakpoint: 450,
          column: 1
        }]
      });
    });
  } 
});
*/
</script>

